<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	fieldset {
	width: 300px;
	}
#mydiv, #mydiv2, #mydiv3{
	width:600px;
	margin: auto;
}
label{
	width: 50px;
	height: 30px;
	float: left;
	line-height: 20px;
}
input {
	height: 30px;
}
</style>
<script>
	function send_go(f){
		// 유효성 검사
		for (var i = 0; i < f.elements.length; i++) {
			if(f.elements[i].value == ""){
				alert(f.elements[i].name+"을 입력하세요")
				f.elements[i].focus();
				return;
		}
		}
		f.action = "/01_servlet/Ex08";
		f.submit();
	}
</script>
<script>
	function send_go(f){
		f.action = "/01_servlet/Ex08";
		f.submit();
	}
</script>
</head>
<body>
<div id = mydiv>
<form action="/01_servlet/Ex08" method="post">
        <fieldset>
            <legend> 성적 입력 </legend>
            <p>이름 : <input type="text" name="name" required></p>
            <p>국어 : <input type="number" name="kor" max="100" required></p>
            <p>영어 : <input type="number" name="eng" max="100" required></p>
            <p>수학 : <input type="number" name="math" max="100" required></p>
         
            <input type="submit" value="결과보기">
            <input type="reset" value="취소">
        </fieldset>
    </form>
    <!-- required가 실행되지 않는다 -->
    <form action="/01_servlet/Ex08" method="post">
        <fieldset>
            <legend> 성적 입력 </legend>
            <p>이름 : <input type="text" name="name" required></p>
            <p>국어 : <input type="number" name="kor" max="100" required></p>
            <p>영어 : <input type="number" name="eng" max="100" required></p>
            <p>수학 : <input type="number" name="math" max="100" required></p>
         
            <input type="button" value="결과보기"  onclick="send_go(this.form)">
            <input type="reset" value="취소">
        </fieldset>
    </form>
    <!-- 자바스크립트 함수는 가지만 required가 실행되지 않는다 -->
     <form method="post" onsubmit="send_go2(this)">
        <fieldset>
            <legend> 성적 입력 </legend>
            <p>이름 : <input type="text" name="name" required></p>
            <p>국어 : <input type="number" name="kor" max="100" required></p>
            <p>영어 : <input type="number" name="eng" max="100" required></p>
            <p>수학 : <input type="number" name="math" max="100" required></p>
         
            <input type="submit" value="결과보기">
            <input type="reset" value="취소">
        </fieldset>
    </form>
    </div>
</body>
</html>